.auth {
   min-height: 100vh;
   background: linear-gradient(180deg, #5CD167 0%, rgba(69, 178, 190, 0.096) 100%);
   padding-top: 27vh;     
   padding-bottom: 27vh;  
   .auth-logo {
      margin-bottom: 40px;
      a {
         font-size: 40px;
         font-weight: 500;
         color: #fff !important;
         text-decoration: none;
      }
   }
   .form-group {
      margin-bottom: 15px !important;
      label {
         font-size: 15px;
         font-weight: 500;
      }
      input {
         border: none !important;
         border-radius: 8px;
         padding-left: 16px !important;
         padding-right: 16px !important;
         background-color: #f4f2ff !important;
         height: 41px !important;
         &:focus {
            outline: 0 !important;  
            border: 1px solid #1f7882 !important;
            box-shadow: 0 0 0 0.1rem #1f7882 !important;
         }
      }
   }
   .btn-pry {
      border: none;
      margin-top: 34px;
      padding: 9px 0;
      font-size: 15px;
      color: #fff;
      font-weight: 500;
      border-radius: 8px;  
      background: #1f7882;
      &:hover {      
         box-shadow: 0 8px 25px #c5c5c5;
      }
      &:active {
         outline: 0;
         box-shadow: 0 8px 25px #1f7882;
      }
   }
}