@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
:root {
   --white: #fff;
   --bg-1: #353a40;
   --bg-2: #3a444e;
   --font: 'Baloo 2', cursive;
   --ijo: #a2d450;
   --ijoT: #1f7882;
   --hi: #1a6972;
   --abu: #f2f6fa;
   --ha: #dce0e4;
   --grey: #373f4a;
   --kun: #ffd22f;
   --hk: #ecc22b;
   --ph: #8491a1;
   --form: #474f5c;
   --red: #f00;
   --border: #cfd7df;
}

* {
   margin: 0;
   padding: 0;
}

body {
   background: var(--bg-1) !important;
   color: var(--white) !important;
   font-family: var(--font) !important;
}
@import 'scss/auth';
@import 'scss/global';
@import 'scss/tabel';
@import 'scss/form';
@import 'scss/navdock';
@import 'scss/dashboard';
@import 'scss/modal_profile';
@import 'scss/responsive';